name: Prepare for Release

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  prod_release:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Merge main -> release
        uses: devmasx/merge-branch@6ec8363d74aad4f1615d1234ae1908b4185c4313
        with:
          type: now
          from_branch: main
          target_branch: release
          github_token: ${{ secrets.GITHUB_TOKEN }}
